@import "../components/Categories/categories";
@import "../components/ProductCards/productCards";
@import "../components/AddProductButton/addButton";

.app {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px 5%;

    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &__body {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    &__hackyContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 1;
    }
}